# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/guava-29.0-jre/build/
/spring-core-5.2.8.RELEASE/build/
/javatuples-1.2/build/
/balloontip-1.2.4.1/build/
/acuibc-cfx/build/
/acuibc-main/build/
/source/
/build/
/commons-lang3-3.10/build/
/Bip44ForJava-1.0.0/build/
/db-derby-10.14.2.0/build/
/conflux-web3j/build/
/rxjava-2.2.2/build/
/bcprov-jdk15on-1.60/build/
/reactive-streams-1.0.2/build/
/swingx-all-1.6.5-1/build/
/web3j-4.5.5/build/
/slf4j-api-1.7.25/build/
/conflux-web3j/nbproject/private/
/Jackson-annotations-2.8.0/nbproject/private/
/Jackson-core-2.8.5/nbproject/private/
/jackson-databind-2.8.5/nbproject/private/
/okio-1.13.0/nbproject/private/
/reactive-streams-1.0.2/nbproject/private/
/rxjava-2.2.2/nbproject/private/
/slf4j-api-1.7.25/nbproject/private/
/acuibc-eth/build/
/zxing-3.4.0/build/
/acuibc-eth/nbproject/private/
/dist/
/jre/
/dapp/
/jre-win/
/jre-mac/
/jre-linux/
/betterbeansbinding-1.3.0-all/build/
/betterbeansbinding-1.3.0-all/nbproject/private/
gourd安装包.exe
badlogic.jpg
/zip4j-2.6.2/build/
/JTattoo-1.6.13/build/
/JTattoo-1.6.13/nbproject/private/
/beautyeye-3.7/build/
/beautyeye-3.7/nbproject/private/
/balloontip-1.2.4.1/bcprov-jdk15on-1.60/build/
/balloontip-1.2.4.1/bcprov-jdk15on-1.60/nbproject/private/
/bcprov-jdk15on-1.60/nbproject/private/
/libgdx-1.9.12/
/acuibc-cfx-flappeebee/
/acuibc-cfx-dapp/nbproject/private/
/acuibc-cfx-dapp/build/
/commons-io-2.8.0/build/
/nbproject/private/
/acuibc-cfx/nbproject/private/
/acuibc-eth/nbproject/private/
/acuibc-main/nbproject/private/
/jxbrowser-6.24.3/build/
/web3j-4.8.4/build/
/java-etherscan-api-1.1.0/build/
/acuibc-bsc/build/
/acuibc-bsc/nbproject/private/
/jackson-2.12.2/build/
/jackson-2.12.2/nbproject/private/
/json-simple-1.1.1/build/
/file-management-3.0.0/build/
/kotlinx-serialization-json-1.2.1/build/
/kotlinx-serialization-json-1.2.1/nbproject/private/
/bfg-1.14.0.jar
/jsoup-1.12.1/build/
/batik-all-1.14/build/
/okhttp-4.9.0/build/
/batik-all-1.14/nbproject/private/
/okhttp-4.9.0/nbproject/private/